{% load talk_filters %}

<div class="post">
	{{post.body|urlize|atify}}
	<span class="author">
		{%if post.author%}
			<a href="{%url controllers.profiles.show post.author.nick%}">
			{{post.author.name}}
			</a>
		{%else%}
			{{post.owner}}
		{%endif%}
	</span>
	<a href="{%url controllers.posts.show post.key%}" class="timestamp">
		{{post.created|timesince}} ago
	</a>
	{%ifequal user post.author.user%}
	<a href="{%url controllers.posts.edit post.key %}" class="action">Edit</a>
	<a href="{%url controllers.posts.destroy post.key %}" class="action destroy">Delete</a>
	{%endifequal%}
</div>
