<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{% block title %}Talk.org{% endblock %}</title>
    {% ifequal BUILD 'development' %}
	  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8"/>
    {% else %}
    <link rel="stylesheet" href="/stylesheets/talk_compiled.{{ CURRENT_VERSION_ID }}.css" type="text/css" media="screen" charset="utf-8"/>
    {% endifequal %}
	  <!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen" charset="utf-8"><![endif]-->
		<meta name="viewport" content="width = 800" /> 
  </head>
	<body>
		<div id="page">
			<div id="logo"><a href="/"><img src="/images/logo.png"></a></div>
		  <div id="header">
		    <ul class="tabs">
			    {%if user %}
          <li><strong>
						{%if current_profile%}
							<a href="{%url controllers.profiles.show current_profile.nick%}">{{current_profile.nick}}</a>
						{%else%}
							{{user.nickname}} 
						{%endif%}
	
	
						 ({{user.email}})</strong></li>
          {%if is_admin%} <li> <a href="/_ah/admin">Admin</a></li>{%endif%}
					<li><a href="/">Latest</a></li>
					<li><a href="{%url controllers.profiles.index%}">Most Active Users</a></li>					
          {%if sign_out%} <li><a href="{{sign_out}}">Sign out</a></li>{%endif%}
					
          {% else %}
          {%if sign_in%}<li><a href="{{sign_in}}">Sign in</a></li>{%endif%}
          {%endif%}
   		    </ul>
		  </div>

		  <div id="body" class="wrapper">
	    {% block body %}{% endblock %}
			</div>
	    <div id="footer">
		    {% block footer %}
				&copy; 2008 <a href="http://stakeventures.com">Stake Ventures Inc.</a> This code is highly experimental and whatever posts you create will likely be deleted.
	    	{% endblock %}
			</div>
		</div>
    {% ifequal BUILD 'development' %}
    <script type="text/javascript" src="/javascripts/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/javascripts/talk.js"></script>
    {% else %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/talk_compiled.{{ CURRENT_VERSION_ID }}.js"></script>
    {% endifequal %}
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-256448-3");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
	</body>
</html>