<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet href="http://rss.cnn.com/~d/styles/itemcontent.css" type="text/css" media="screen"?
>
<?xml-stylesheet href="http://rss.cnn.com/~d/styles/itemcontent.css" type="text/css" media="screen"?
>
<rss xmlns:feedburner="http://rssnamespace.org/feedburner/ext/1.0" version="2.0">
  <channel>
    <title>
      WuzHere: 
      {% if website %}
        Guestbook for {{ website.name|escape }} - {{ website.url }}
      {% else %}
        Guestbooks thats rulez
      {% endif %}
    </title>
    <description>WuzHere - cool Guestbooks</description>
    <language>en-us</language>
    <ttl>5</ttl>
    <link>{{ HOST }}</link>
    
    <image>
      <url>http://{{ HOST }}/img/logo.png</url>
      <title>WuzHere</title>
      <link>http://{{ HOST }}/</link>
      <width></width>
      <height></height>
      <description>WuzHere - cool Guestbooks</description>
    </image>
    
    
  </channel>
</rss>

