{% extends base_template %}
{% load talk_filters %}
{%block title%}Talk.org: {{profile.name}} {%endblock%}

{% block body %}
<div class="user" id="users">
<h1>{{profile.name}}</h1>
{%ifequal profile.user user%}
<a href="{%url controllers.profiles.edit%}">Edit</a>
{%endifequal%}

{%if profile.description%}
	<div class="description">
	{{profile.description|urlize}}
	</div>
{%endif%}
{%if profile.url%}
<a href="{{profile.url}}" rel="me">{{profile.url}}</a>
{%endif%}
</div>
<div id="posts">
	{%if user %}
	<form action="{%url controllers.posts.create %}" method="post"  class="vform">
		<p>If you've got something to say{%ifnotequal user profile.user%} to {{profile.nick}}{%endifnotequal%}, say it...</p>
	  {{form.as_p}}
		<div>
			<div class="counter"> <span id="character_count">0</span> characters</div>
	    <input type="submit" value="Post" />
			<br clear="both"/>
	  </div>
	
	</form>
	{%endif%}
	
	
	<h3>{{profile.postCount}} posts</h3>
	{% include "posts/_post_list.html" %}
</div>
{% endblock %}
