{% extends base_template %}
{% load talk_filters %}
{% block body %}
<div class="user" id="users">
<h1>{{profile.nick}}</h1>
{%ifequal profile.user user%}
<a href="{%url controllers.profiles.edit%}">Edit</a>
{%endifequal%}

{%if profile.description%}
	<div class="description">
	{{profile.description|urlize}}
	</div>
{%endif%}
{%if profile.url%}
<a href="{{profile.url}}" rel="me">{{profile.url}}</a>
{%endif%}
</div>
<div id="posts">
	{%if user %}
	<form action="{%url controllers.posts.create %}" method="post"  class="vform">
		<p>If you've got something to say{%ifnotequal user profile.user%} to {{profile.nick}}{%endifnotequal%}, say it...</p>
	  {{form.as_p}}
	</form>
	{%endif%}
	
	
	<h3>{{profile.postCount}} posts</h3>
	{% for post in posts %}
	<div class="post">
		{{post.body|urlize|atify}}
		<span class="author">
			{{post.author.nick}}
		</span>
		<span class="timestamp">
			{{post.created|timesince}} ago
		</span>
		{%ifequal user post.author.user%}
		<a href="{%url controllers.posts.edit post.key %}" class="action">Edit</a>
		<a href="{%url controllers.posts.destroy post.key %}" class="action destroy">Delete</a>
		{%endifequal%}
		
	</div>
	{% endfor %}
</div>
{% endblock %}
